@charset "utf-8";
/* Creado por Alejandro Sánchez Folgado */
body{ 
    background-color: green;
}
h1{
    text-transform: capitalize
}
p.p1{
    color: white;
    font-family: serif;
}
p.p2{
    color: #FFDFB3;
    font-family: sans-serif;
}
p.p3{
    color: #FF9C38;
    font-family: monospace;
}
p.p4{
    color: red;
    font-family: cursive;
}